{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "endOfLine": "lf",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.{ts,tsx}",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": ["*.test.ts", "*.test.tsx"],
            "options": {
                "parser": "typescript",
                "printWidth": 80
            }
        }
    ]
}
